/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* font */
@font-face {
  font-family: Roboto1;
  src: url(./font/Roboto/Roboto-Regular.ttf);
}
/* Color */
:root {
  --primary-color: #0f89cb;
  --white: #ffffff;
  --charcoal: #303030;
  --orange: #fa6435;
  --dark-blue: #637381;
}

.p-0 {
  padding: 0px;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-100 {
  height: 100%;
}

.p-8 {
  padding: 0px 8px;
}

/* HomePage */
body {
  font-family: Roboto1;
}

.header {
  height: 640px;
  background: linear-gradient(180deg, rgb(18, 165, 244) 0%, rgba(18, 165, 244, 0.5) 100%);
  position: relative;
}
.header .nav {
  padding: 16px 0px;
}
.header .nav__menu {
  color: var(--white);
}
.header .nav__menu-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav__menu-ul li {
  min-width: 90px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
.header .nav__menu-ul li a {
  position: relative;
  color: var(--white);
  display: block;
  padding: 10px 0px;
  text-decoration: none;
}
.header .nav__menu-ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 90px;
  background-color: var(--white);
  bottom: 0px;
  left: 0px;
  transform: scaleX(0);
  transition: all 0.5s ease;
}
.header .nav__menu-ul li a:hover::after {
  transform: scaleX(1);
}
.header .nav__menu-ul li .btn__dropdown {
  padding: 0px;
  font-weight: 600;
  background-color: transparent;
  color: var(--white);
  letter-spacing: 1px;
}
.header .nav__menu-ul li .btn__dropdown:focus {
  box-shadow: none !important;
}
.header .nav__menu-ul li .btn__dropdown:focus-visible {
  outline: none;
}
.header .nav__menu-ul li .nav__menu-ul1 {
  padding: 8px;
  border: none;
}
.header .nav__menu-ul li .nav__menu-ul1 > a {
  font-size: 14px;
  color: var(--charcoal);
  border-radius: 4px;
  padding: 12px 10px;
}
.header .nav__menu-ul li .nav__menu-ul1 > a:hover {
  background-color: #f8f9fa;
}
.header .nav__menu-ul li:hover > a::after {
  background-color: var(--white);
}
.header .nav__menu-ul li:not(:last-child) {
  margin-right: 16px;
}
.header .nav__account {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .nav__account .btn-login {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  margin-right: 16px;
}
.header .nav__account .btn-signin {
  background-color: var(--white);
  color: #2caff5;
}
.header .nav__account .btn-login,
.header .nav__account .btn-signin {
  border-radius: 8px;
  font-weight: 600;
}
.header .banner {
  margin-top: 40px;
}
.header .banner__content-heading {
  font-size: 35px;
  font-weight: 900;
  color: var(--white);
  line-height: 51px;
  letter-spacing: 0.5px;
}
.header .banner__content-heading span {
  color: var(--orange);
}
.header .banner__content-description {
  margin-top: 20px;
}
.header .banner__content-description .banner__content-item {
  margin-bottom: 16px;
  color: var(--white);
  padding: 4px 0px;
}
.header .banner__content-description .banner__content-item img {
  margin-right: 8px;
}
.header .banner__content-description .banner__content-item p {
  letter-spacing: 1px;
}
.header .banner__content-button {
  margin-top: 40px;
}
.header .banner__content-button .btn-banner {
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 12px;
  min-width: 158px;
}
.header .banner__content-button .btn-banner:hover {
  background: #f33b03;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.header .banner__content-button .btn-banner:focus {
  box-shadow: none;
}
.header .banner__image img {
  width: 100%;
}

.sdata .sdata__container {
  padding: 0px 145px;
  position: relative;
  bottom: 68px;
}
.sdata .sdata__container .sdata__item {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 4px 15px rgba(65, 93, 112, 0.15);
  border-radius: 24px;
  min-height: 128px;
}
.sdata .sdata__container .sdata__item .sdata__item-title {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 900;
}
.sdata .sdata__container .sdata__item .sdata__item-description {
  font-size: 14px;
  color: var(--dark-blue);
}
.sdata .sdata__container .sdata__item:not(:last-child) {
  margin-right: 16px;
}

.content__title {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--charcoal);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content__title span {
  color: var(--primary-color);
}
.content__description {
  color: var(--dark-blue);
  max-width: 745px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.content__feature {
  margin-top: 50px;
}
.content__feature .content__item {
  background-color: var(--white);
  box-shadow: 0px 4px 15px rgba(65, 93, 112, 0.15);
  padding: 14px 16px;
  border-radius: 16px;
  margin-bottom: 16px;
}
.content__feature .content__item img {
  width: 100%;
}
.content__feature .content__item-title {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0px 8px 0px;
}
.content__feature .content__item-description {
  font-size: 14px;
  color: var(--dark-blue);
  line-height: 20px;
  letter-spacing: 0.3px;
  min-height: 40px;
}
.content__feature .content__item:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.custom-gutter > [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.px-7 {
  padding: 0px 7px !important;
}

.init {
  margin-top: 170px;
  background: linear-gradient(180deg, rgb(18, 165, 244) 0%, rgba(18, 165, 244, 0.5) 100%);
  border-radius: 16px;
  max-width: 1110px;
  height: 294px;
}
.init .init__container {
  height: 294px;
}
.init .init__container img {
  transform: translateY(-10%);
}
.init .init__container .init__content {
  color: var(--white);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.init .init__container .init__content .init__content-heading {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.init .init__container .init__content .init__content-description {
  font-size: 16px;
  margin: 16px 0px;
  padding: 0px 60px 0px 0px;
  line-height: 25px;
}
.init .init__container .init__content .btn-init {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  letter-spacing: 0.8px;
  padding: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
}

.function .function__left {
  display: flex;
  align-items: center;
}
.function .function__left .function__content .function__content-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--charcoal);
  letter-spacing: 1px;
}
.function .function__left .function__content .function__content-description {
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 12px;
  font-weight: 550;
}
.function .function__left .function__content .function__content-feature {
  margin-top: 44px;
}
.function .function__left .function__content .function__content-feature .feature .feature__item:not(:last-child) {
  margin-bottom: 16px;
}
.function .function__left .function__content .function__content-feature .feature .feature__item {
  display: flex;
  align-items: center;
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 20px;
}
.function .function__left .function__content .function__content-feature .feature .feature__item img {
  margin-right: 8px;
}
.function .function__left .function__content .function__content-feature .feature .feature__item p {
  letter-spacing: 0.5px;
}
.function .function__left .function__content .function__content-feature .feature:not(:last-child) {
  margin-right: 24px;
}

.bg-orange {
  background: rgb(255, 133, 63);
  background: linear-gradient(90deg, rgb(255, 133, 63) 0%, rgb(255, 156, 100) 100%);
}

.function-1 {
  margin-top: 40px;
}
.function-1 .function__left {
  color: var(--white) !important;
}
.function-1 .function__left .function__content .function__content-title,
.function-1 .function__left .function__content .function__content-description {
  color: var(--white);
}
.function-1 .function__left .function__content .function__content-feature .feature .feature__item p {
  color: var(--white);
}
.function-1 .function__left .function__content .function__content-feature .feature .feature__item img {
  filter: brightness(0) invert(1);
}

.function-2 {
  margin-top: 120px;
}
.function-2 .function__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.advise {
  margin-top: 160px;
}
.advise .advise__col {
  background: linear-gradient(180deg, rgb(18, 165, 244) 0%, rgba(18, 165, 244, 0.5) 100%);
  border-radius: 16px;
}
.advise .advise__col .advise__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advise .advise__col .advise__content .advise__content-title {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 1px;
}
.advise .advise__col .advise__content .advise__content-description {
  font-size: 14px;
  color: var(--white);
  letter-spacing: 0.5px;
  margin-top: 12px;
}
.advise .advise__col .advise__content .btn-call {
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 20px;
  width: 158px;
  font-weight: 600;
}
.advise .advise__col .advise__content .btn-call:hover {
  background: #ff916f;
}
.advise .advise__col .advise__content .advise__content-input {
  margin: 16px 16px;
  width: calc(100% - 32px);
}
.advise .advise__col .advise__content .advise__content-input form .advise-input input {
  border: none;
  border-radius: 8px;
}
.advise .advise__col .advise__content .advise__content-input form .advise-input ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1; /* Firefox */
  font-size: 14px;
  letter-spacing: 0.5px;
}
.advise .advise__col .advise__content .advise__content-input form .advise-input ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1; /* Firefox */
  font-size: 14px;
  letter-spacing: 0.5px;
}
.advise .advise__col .advise__content .advise__content-input form .advise-input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
.advise .advise__col .advise__content .advise__content-input form .advise-input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}
.advise .advise__col .advise__content .advise__content-input form .advise-input:not(:last-child) {
  margin-bottom: 12px;
}
.advise .advise__col .advise__image,
.advise .advise__col .advise__content {
  width: 50%;
}

.footer-bg {
  background-color: #f4f6f8;
  padding: 30px 0px;
}
.footer-bg .footer__introduce {
  color: var(--charcoal);
}
.footer-bg .footer__introduce .footer__introduce-image {
  margin-bottom: 20px;
}
.footer-bg .footer__introduce .footer__introduce-name {
  font-size: 18px;
  font-weight: 600;
}
.footer-bg .footer__introduce .footer__introduce-certi {
  font-size: 16px;
}
.footer-bg .footer__introduce .footer__introduce-certi span {
  font-style: italic;
}
.footer-bg .footer__introduce .footer__introduce-address {
  display: flex;
  font-weight: 600;
}
.footer-bg .footer__introduce .footer__introduce-address img {
  width: 14px;
  height: auto;
  margin-right: 4px;
}
.footer-bg .footer__introduce .footer__introduce-address p {
  line-height: 20px;
}
.footer-bg .footer__introduce .footer__introduce-phone,
.footer-bg .footer__introduce .footer__introduce-email {
  font-weight: 600;
  color: var(--primary-color);
}
.footer-bg .footer__introduce p:not(:last-child),
.footer-bg .footer__introduce div:not(:last-child) {
  margin-bottom: 12px;
}
.footer-bg .footer__link .footer__link-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-height: 30px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.footer-bg .footer__link .footer__link-list li a {
  display: block;
  color: var(--charcoal);
  margin-bottom: 12px;
}
.footer-bg .footer__link .footer__link-app {
  margin-bottom: 12px;
}
.footer-bg .footer__link .footer__link-fbook {
  margin-right: 12px;
}/*# sourceMappingURL=homepage.css.map */